<tr id="<%= dom_id(@user) %>"  class="bg-white border-b hover:bg-gray-100">
  <td class="px-3 py-3"><%= check_box_tag '', @user.id, false, class: 'delete_multiple_checkbox', name: "users[]" %></td>
  <td class="px-3 py-3"><%= @user.firstName %></td>
  <td class="px-3 py-3"><%= @user.lastName %></td>
  <td class="px-3 py-3"><%= @user.email %></td>
  <td class="px-3 py-3"><%= @user.gender %></td>
  <td class="px-3 py-3"><%= @user.height %></td>
  <td class="px-3 py-3 hover:text-green-600"><%= link_to 'View', @user, data: { turbo_frame: "_top" }%></td>
  <td class="px-3 py-3 hover:text-blue-600"><%= link_to 'Edit', edit_user_path(@user), data: { turbo_frame: "_top" }%></td>
  <td class="px-3 py-3 hover:text-red-600"><%= link_to "Destroy", "#{users_path}/#{@user.id}", data: { turbo_frame: "_top", turbo_method: "delete", turbo_confirm: "Are you sure you want to delete the user?" }%></td>
</tr>
