<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Users</h1>
    <%= link_to 'New user', new_user_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div class="flex space-x-6 items-center">
    <%= form_tag users_path, method: :get, data: { turbo_frame: "search-results", turbo_action: "advance", controller: "search", action: "input->search#submit" } do |f| %>
      <%= text_field_tag "name", nil, placeholder: "Search user by name...", class: "input input-bordered w-full max-w-xs my-5" %>
    <% end %>
    <%= form_tag users_path, method: :get, data: { turbo_frame: "search-results", turbo_action: "advance", controller: "search", action: "input->search#submit" } do |f| %>
      <%= text_field_tag "email", nil, placeholder: "Search user by email", class: "input input-bordered w-full max-w-xs my-5" %>
    <% end %>
  </div>
  <div id="users" class="min-w-full">
    <%= turbo_frame_tag "search-results" do %>
      <%= form_tag bulk_destroy_users_path, :method => :delete do %>
        <table class="text-left mb-5 w-3/4">
          <thead class="uppercase bg-gray-300">
            <tr>
              <th class="sr-only">Select</th>
              <th class="px-3 py-3">First Name</th>
              <th class="px-3 py-3">Last Name</th>
              <th class="px-3 py-3">Email</th>
              <th class="px-3 py-3">Gender</th>
              <th class="px-3 py-3">Height</th>
              <th class="px-3 py-3" colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody id="user-list">
            <% @users.each do |user| %>
              <%= render partial: "user_row", locals: { user: user }  %>
            <% end %>
          </tbody>
        </table>
        <%= submit_tag "Delete Checked", data: { turbo_frame: "_top" }, class: "rounded py-3 px-5 bg-gray-300 hover:bg-red-300 cursor-pointer block font-medium"%>
      <% end %>
      <%== pagy_nav(@pagy) %>
    <% end %>
  </div>
</div>
